/* App.css */
/* .app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px 20px;
  color: white;
  
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-link:hover {
  background-color: #0056b3;
  border-radius: 3px;
  padding: 5px 10px;
}
